<!DOCTYPE html>
<html lang="zh-cmn-Hans">
  <head>
    <title>
      {% if page.title %}{{ page.title }} | {% endif %}知北游
    </title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <link rel="stylesheet" href="/assets/css/full.css"/>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="avatar"></div>
        <h1><a href="/">知北游</a></h1>
        <h2><i>一个写代码的农民</i></h2>
        <nav>
          <ul>
            <li class="index"><a href="/index/">Index</a></li>
            <li class="home"><a href="/">Home</a></li>
            <li class="lofter"><a href="http://herodot.lofter.com">Lofter</a></li>
            <li class="tags"><a href="/tags/">Categories</a></li>
            <li class="github"><a href="http://github.com/yanghuashuai">GitHub</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
    {{ content }}
    </main>

    <footer>
      <p>除非另有声明，本网站采用<a href="http://creativecommons.org/licenses/by/3.0/cn/" rel="license">知识共享“署名 3.0 中国大陆”许可协议</a>授权。</p>
      <img src="/assets/img/cc.png"/>
    </footer>
  </body>
</html>
