<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {% if page.title %}{{ page.title }} &laquo; {% endif %}知北游
    </title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <link rel="alternate" type="application/atom+xml" href="/feed/"/>
    <link rel="stylesheet" href="/assets/css/full.css"/>
  </head>
  <body>

    <main>
    {{ content }}
    </main>

    <header>
      <div class="container">
        <div class="portrait"></div>
        <h1><a href="/">知北游</a></h1>
        <h2><i>一个写代码的农民</i></h2>
        <nav>
          <ul>
            <li class="index"><a href="/index/">Index</a></li>
            <li class="home"><a href="/">Home</a></li>
            <li class="lofter"><a href="http://herodot.lofter.com">Lofter</a></li>
            <li class="tags"><a href="/tags/">Categories</a></li>
            <li class="github"><a href="http://github.com/yanghuashuai">GitHub</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <footer>
      <p>
        All information on this blog, unless otherwise noted, is
        hereby released into the public domain, with no rights
        reserved.
      </p>
    </footer>
  </body>
</html>
